/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
         body {
            margin: 0;
            font-family: 'Oswald', sans-serif;
            background-color: lightgray;
                }

        .cabecalho {
            background: blue;
            color: #fff;
            border-bottom: solid 5px #4faddb;
            height: 80px;
        }

        .logo img {
            height: 50px;
        }

        .menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .cabecalho a {
            text-decoration: none;
            color: #eee;
            font-size: 1.3em;
            padding: 10px 15px;
        }

        .menu a:hover {
            background-color: #4faddb;
            color: #000;
        }

        .cabecalho .botao {
            border-radius: 30px;
            padding: 10px 25px;
            margin-right: 10px;
        }

        .destaque {
            background: #f50a31;
            color: #fff;
        }
        
        .cabecalho {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .menu {
            flex-grow: 10;
        }

            .menu ul {
                display: flex;
            }

            .menu li {
                margin: 0px 10px;
            }

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
/*
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/*body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
